@import url("upload/infinity.css");

/* flex */
.row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.logorow {
    max-width: 1000px;
    flex-flow: row wrap;
    min-width: 300px;
}

  
.column {
    flex: 50%;
    padding: 5px;
    flex-flow: row wrap;
    min-width: 100px;
    /*flex: 1 1 0px;*/

}
.flex-container {
    display: flex;
    align-items: stretch;
    /*background-color: #f1f1f1;*/
    background-color: transparent;
    align-items: top;
    flex-flow: row wrap;
  }

  .flex-container > div {
      /*
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    */
  }
.logo_left {
    display: flex;
    align-items: top;
    flex-grow: 1;
    max-width: 200px;
    padding-left: 20px;

}

.text_container  {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*padding-left: 20px;*/
    flex-grow: 80;
    background-color: transparent;
    align-items: top;
}


.people {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
  }

  img {
    align-self: center;
}