DirectoryIndex index.php


ErrorDocument 404 /upload/index.php
ErrorDocument 500 /upload/index.php
# or map them to one error document:
# ErrorDocument 404 /pages/errors/error_redirect.php
# ErrorDocument 500 /pages/errors/error_redirect.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ ./index.php [L]

RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ ./index.php [L]

# or map them to one error document:
#RewriteCond %{REQUEST_URI} ^/404/$ [OR]
#RewriteCond %{REQUEST_URI} ^/500/$
#RewriteRule ^(.*)$ /pages/errors/error_redirect.php [L]